.wrapper {
    display: flex;
    justify-content: space-between;
}

.number1 {
    width: 50%;
    height: 10em;
    margin: 1%;
    background: repeating-linear-gradient(to top, black, white 20px);
}

.number2 {
    width: 50%;
    height: 5em;
    margin: 1%;
    background: repeating-linear-gradient(60deg, white, red 13.3%);
}

.number3 {
    width: 50%;
    height: 15em;
    margin: 1%;
    background: repeating-radial-gradient(circle at center, black 0, white, gray 30px);
}