.wrapper {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 100%;
    height: 25em;
    margin: 1%;
}

.number1 {
    background: radial-gradient(rgb(238, 238, 238), rgb(29, 170, 226));
}

.number2 {
    background: radial-gradient(rgb(238, 238, 238), rgb(29, 170, 226));
}

.number3 {
    background: radial-gradient(black 10px, white 30%, green 50%);
}

.number4 {
    background: radial-gradient(circle closest-side at 25% 75%,
            rgb(238, 238, 238),
            yellow 10%,
            #1e90ff 50%,
            beige);
}