.wrapper {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 100%;
    height: 25em;
    margin: 1%;
}

.number1 {
    background: linear-gradient(to bottom, white, yellow);
}

.number2 {
    background: linear-gradient(to right, white, yellow);
}

.number3 {
    background: linear-gradient(to left, white, yellow);
}

.number4 {
    background: linear-gradient(to bottom,
            red 33%,
            white 34% 66%,
            red 67%);
}

.number5 {
    background: linear-gradient(to right, red 28px, blue 77%, white 95%, red);
}