@media (max-width:720px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;


    }

    .block {
        width: 20%;
        padding: 5px;
        height: 340px;
        background-color: blue;
        color: #fff;
    }
}

.main {
    display: flex;
    flex-wrap: none;
    justify-content: start;
    gap: 20px;
}

.block {
    width: 320px;
    padding: 5px;
    height: 340px;
    background-color: blue;
    color: #fff;
}