#decoration-1 {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

#decoration-2 {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: gray;
}

#decoration-3 {
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-decoration-color: green;
}

#decoration-4 {
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-color: red;
}