div {
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    margin: 5px;
    overflow: auto;
    margin-bottom: 25px;
}

.pointer {
    cursor: pointer;
}

.wait {
    cursor: wait;
}

.progress {
    cursor: progress;
}

.cursor {
    cursor: url('../img/Super_Mario.png'), pointer;
}