p {
    margin: 50px 30px;
}

#shadow-1 {
    width: 200px;
    border: 2px solid #000;
    box-shadow: 20px 20px 10px gray;
    height: 200px;
}

#shadow-2 {
    width: 200px;
    border: 2px solid #000;
    box-shadow: 20px 20px 10px gray, -20px -20px 10px gray;
    height: 200px;
}

#shadow-3 {
    width: 200px;
    border: 2px solid #000;
    box-shadow: inset 10px 5px 10px gray;
    height: 200px;
}