h1 {
    text-align: center;
}

h3 {
    margin: 25px 0 25px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: #FFD3C6;
    width: 32%;
    text-align: center;
}

.content {
    width: 90%;
    height: 3em;
    margin: 5%;
}

.number1 {
    background-color: #EEAEEF;
}

.number2 {
    background-color: #4B9BD1;
}

.number3 {
    background-color: #67C45A;
}