div {
    width: 250px;
    height: 150px;
    border: 1px solid blue;
    margin: 5px;
    overflow: auto;
    margin-bottom: 45px;
}

.both {
    resize: both;
}

.none {
    resize: none;
}

.horizontal {
    resize: horizontal;
}

.vertical {
    resize: vertical;
}