p {
    margin: 50px 30px;
}

#shadow-1 {
    width: 200px;
    text-shadow: 10px 10px gray;
    height: 40px;
}

#shadow-2 {
    width: 200px;
    text-shadow: 10px 10px 5px gray;
    height: 40px;
}

#shadow-3 {
    width: 200px;
    text-shadow: 10px 5px red, -10px -5px blue;
    height: 40px;
}

#shadow-4 {
    width: 200px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    height: 40px;
}

#shadow-5 {
    width: 200px;
    text-shadow: 1px 1px 2px gray, -1px -1px 2px gray;
    height: 40px;
}

#shadow-6 {
    width: 200px;
    text-shadow: inset 10px 5px 10px gray;
    height: 40px;
}