.owerflow {
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
    padding: 10px;
    border: 2px solid #000;
    margin: 10px;
    text-overflow: ellipsis;
}

.owerflow:hover {
    white-space: break-spaces;
    text-overflow: clip;
    text-align: justify;
    min-height: 18px;
}