* {
    list-style: none;
}

.wrapper {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #cfdde6;
}

#z {
    position: relative;
    top: 10px;
    left: 30px;
}

#x {
    position: relative;
    top: 20px;
    left: 80px;
}

#c {
    position: relative;
    top: -40px;
    left: 210px;
}

#z1 {
    position: relative;
    top: -10px;
    left: 91px;
}

#c1 {
    position: relative;
    top: 0px;
    left: 180px;
}

.cloud {
    width: 70px;
    height: 40px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: #fff;
}

.cloud-min {
    width: 40px;
    height: 20px;

    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: #fff;
}

.wrapper-sky-walker {
    animation-name: sky;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    width: 300px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 40px;
}

.tower {
    z-index: 99;
    position: fixed;
    top: 200px;
    height: 300px;
    width: 100px;
    left: 120px;
    background-color: #fff;
}

.tower::before {
    content: '';
    z-index: 99;
    position: fixed;
    top: 99px;
    left: 120px;
    border: 50px solid transparent;
    border-bottom: 50px solid #d76751;
}

.tower::after {
    content: '';
    z-index: 99;
    position: fixed;
    top: 250px;
    left: 155px;
    border-bottom: 50px solid #6e6f72;
    border-left: 30px solid #6e6f72;

}

.house {
    display: flex;
}

ul {
    display: flex;
}

.win {
    margin: 30px 0 0 10px;
    width: 30px;
    height: 50px;
    background-color: #6e6f72;
}

.house {
    z-index: 99;
    position: fixed;
    top: 350px;
    height: 150px;
    width: 300px;
    left: 220px;
    background-color: #fff;
}

.house::after {
    content: '';
    z-index: 99;
    position: fixed;
    top: 284px;
    left: 220px;
    border: 50px solid transparent;
    border-bottom: 50px solid #d76751;
    border-top: 34px solid #d76751;
    border-left: 250px solid #d76751;
    border-right: 50px solid #d76751;
}

.house::before {
    content: '';
    z-index: 99;
    position: fixed;
    top: 268px;
    left: 470px;
    border: 50px solid transparent;
    border-bottom: 50px solid #d76751;
}

.row {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 99;
    top: 318px;
    left: 170px;
    background-color: #d76751;
}

@keyframes sky {
    from {
        left: 0;
        animation-timing-function: ease-out;
    }

    to {
        left: 600px;
    }
}