.sm {
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #F0F0F0;
    color: #000;
    box-shadow: 0px 0px 3px #F0F0F0;
}

.em {
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: #F0F0F0;
    color: #000;
    box-shadow: 0px 0px 3px #F0F0F0;
}

.xl {
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 10px;
    margin: 15px;
    background-color: #F0F0F0;
    color: #000;
    box-shadow: 0px 0px 3px #F0F0F0;
}